body{
    margin: 0;
    padding: 0;
}

#second-body{
    background-color: aqua;
    font: black;
    text-align: center;
}
#board {
height: 100vh;
position: relative;
background-color: rgb(182, 47, 169);

}

#player {
    position: absolute;
    background-color: yellow;
}

.obstacle{
    position: absolute;
    background-color: blue;
}
